@using NailSalon.Core.ViewModels.NailSalon.Core.ViewModels
@model ContactVm

<div class="text-center py-5">
    <h2 style="color: #d63384;">💌 Təşəkkür edirik!</h2>
    <p>Mesajınız bizə uğurla çatdı. Ən qısa zamanda cavablandıracağıq.</p>
    <a href="/" class="btn btn-outline-pink mt-3">Əsas səhifəyə qayıt</a>
</div>

