@using NailSalon.Core.ViewModels
@model List<NailTypeVm>
<section class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-5" style="color: #d63384;"> Nail Types</h2>
        <div class="row g-4">
            @foreach(var item in Model)
            {
                <!-- Card 1 -->
                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 shadow-sm">
                        <img height="300" src="~/images/@item.ImageUrl" class="card-img-top" alt="Gel Nails">
                        <div class="card-body text-center">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text text-muted">@item.Price</p>
                        </div>
                    </div>
                </div>
            }


</section>
